{{/* layouts/partials/head.html */}}
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FTSVN2NCGM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FTSVN2NCGM');
</script>

<div class="app-container" style="margin-bottom: 0; padding-bottom: 0;">
  <div>
  <span class="dawsondev-header-b">Dawson<sup class="dawsondev-header-e"> Dev</sup> <img src="https://tryhackme-badges.s3.amazonaws.com/BitBaboon.png" alt="Your Image Badge"/> </span>
</div>
<hr>
</div>
</head>